<!-- navigasi atas -->
<nav class="navbar navbar-expand-lg fixed-top ">
	<a class="navbar-brand" href="{{ site.baseurl }}">Beranda</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
 
 <div class="collapse navbar-collapse " id="navbarSupportedContent">
	  <ul class="navbar-nav mr-4">
		{% for page in site.pages %} {% if page.title %} 			
+		<li class="nav-item">
			<a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
		</li> 			
 		{% endif %} {% endfor %}
-		<li class="nav-item">
			<a class="nav-link" href="{{ "/docs" | prepend: site.baseurl }}">Documentation</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-value="about" href="#">About</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " data-value="portfolio" href="#">Portfolio</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " data-value="blog" href="#">Blog</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " data-value="team" href="#">
			Team</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " data-value="contact" href="#">Contact</a>
		</li>
	  </ul>	  
	</div>
 </nav>
<!-- akhir navbar -->
<!-- mulai header -->
<header class="header">
	<div class="overlay"></div>
	 <div class="container">
		<div class="description text-center">
			<h3>
			 Hello ,Welcome To My Personal Blog <a href="{{ site.baseurl }}">{{ site.title }}</a>
			 <p>
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			 </p>			 
			</h3>
			<button class="btn btn-outline-secondary">See more</button>
		   </div>
	 </div>
	
  </header>
<!-- akhir header -->

 
